# URL de conexão com o banco de dados PostgreSQL
# Se estiver rodando com o nosso docker-compose, use exatamente a URL abaixo:
DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5433/bamaq_payments_db